{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block stylesheets %}
    {# Claroline CSS #}
    {{ parent() }}

    {# Tool styles #}
    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-music-instrument-tuner-tool.css') }}" />
{% endblock %}

{# Title of the Page #}
{% block title %}
    {{ 'claro_instrument_tuner' | trans({}, 'tools') }}
{% endblock %}

{# Override breadcrumbs #}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([{
            'name': 'desktop'|trans({}, 'platform'),
            'href': path('claro_desktop_open')
        }, {
            'name': 'claro_instrument_tuner'|trans({}, 'tools'),
            'href': ''
        }])
    }}
{% endblock %}

{# Content of the Page #}
{% block content %}
    {# The react UI will be attached to this element #}
    <div class="page-container tuner-container"></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'tools' }) }}"></script>

    {# Tool UI #}
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-music-instrument-tuner-tool.js') }}"></script>
{% endblock %}
