{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {# Claroline CSS #}
    {{ parent() }}

    {# Custom styles #}
    {% stylesheets debug=false filter='less, cssmin' output='vendor/claromusicbook/sheet-music.css'
        '@ClarolineMusicTheoryBundle/Resources/styles/override.less'
        '@ClarolineMusicBookBundle/Resources/styles/sheet-music/main.less'
    %}
    <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{# Title of the Page #}
{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{# Content of the Page #}
{% block section_panel %}
    <div id="sheet-music"></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'resource' }) }}"></script>

    {# UI #}
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-music-book-sheet-music.js') }}"></script>
{% endblock %}
