{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {# Claroline CSS #}
    {{ parent() }}

    {# Custom styles #}
    {% stylesheets debug=false filter='less, cssmin' output='vendor/claromusicbook/song.css'
        '@ClarolineMusicTheoryBundle/Resources/styles/override.less'
        '@ClarolineMusicBookBundle/Resources/styles/song/main.less'
    %}
    <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{# Title of the Page #}
{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{# Content of the Page #}
{% block section_panel %}
    <div id="song"></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'resource' }) }}"></script>

    {# TODO : replace it by es6 imports when wavesurfer will release a new version (https://github.com/katspaugh/wavesurfer.js/pull/863) #}
    <script src="{{ asset('packages/wavesurfer.js/dist/wavesurfer.min.js') }}"></script>
    <script src="{{ asset('packages/wavesurfer.js/dist/plugin/wavesurfer.timeline.min.js') }}"></script>

    {# UI #}
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-music-book-song.js') }}"></script>
{% endblock %}
