{% extends "ClarolineCoreBundle:Workspace:layout.html.twig" %}

{% block stylesheets %}
    {# Claroline CSS #}
    {{ parent() }}

    {# Custom styles #}
    {% stylesheets debug=false filter='less, cssmin' output='vendor/claromusicinstrument/instrument.css'
        '@ClarolineMusicInstrumentBundle/Resources/styles/instrument/main.less'
    %}
    <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{# Title of the Page #}
{% block title %}{{ _resource.resourceNode.name }}{% endblock %}

{# Content of the Page #}
{% block section_panel %}
    {# The react UI will be attached to this element #}
    <div id="sheet-music"></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'resource' }) }}"></script>

    {# UI #}
    <script src="{{ hotAsset('dist/claroline-distribution-plugin-music-instrument-instrument.js') }}"></script>
{% endblock %}
